* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
body{
    background-color: rgb(13, 43, 43);
}
.navigation{
    display: flex;
    justify-content: center;
    justify-content: space-between;
    background-color: rgb(3, 3, 31);
    padding: 15px 15px;
}
.navs{
    display: flex;
    flex-direction: row;
    margin-left: 5px;
}
.info{
    padding-left: 45px;
}
.logo{
    display: flex;
    color: white;
   font-family: serif;
   font-weight: bold;
}