* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
body{
    background-color: rgb(103, 115, 115);
    width: 100%;
}
.navigation{
    display: flex;
    justify-content: center;
    margin: 2px;
    background-color: rgb(78, 78, 100);
    padding: 15px 15px;
}
.navs{
    display: flex;
    flex-direction: row;
    margin-left: 400px;
}
.info a{
    padding-left: 45px;
   color: white;
   font-size: 15px;
   font-weight: bold;
}
.navs li{
    list-style: none;
    text-decoration: none;
}
.logo{
   color: white;
   font-family: serif;
   font-weight: bold;
   font-size: 20px;
}
.myself{
    width:  700px;
    height: 400px;
    background-color:  rgb(103, 115, 115);
    margin-top: 150px;
    display: flex;
    flex-direction: column;
}
.myintro{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 40px;
    margin-left: 40px;
    color: rgb(242, 247, 247);
    font-family: serif;
    font-size: larger;
    font-weight: bolder;
    margin-bottom: 25px;
    line-height: 1.9;
}
.btn{
   border-radius: 5px;
   width: 100px;
   padding-left: 20px;
   padding-right: 20px;
   margin-left: 240px;
   background-color:rgb(78, 78, 100);
   font-family: serif;
   font-weight: bolder;
   font-size: large;
   color: white;
}
.btn:hover{
    background-color: rgb(147, 154, 154);
    cursor: pointer;
}
.mypic{
    width:  600px;
    height: 400px;
    background-color: rgb(103, 115, 115);
    margin-left:400px;

}
.divss{
    display: flex;
    flex-direction: row;
}
.twomoredivs{
    color: aqua;
    display: flex;
  }
.proj1{
    text-align: center;
    font-family: serif;
    font-weight: bolder;
    font-size: larger;
    height: 400px;
    width: 500px;
    line-height: 1.9;
}
.proj2{
    text-align: center;
    font-family: serif;
    font-weight: bolder;
    font-size: larger;
    height: 400px;
    width: 700px;
    margin-left: 100px;
    line-height: 1.9;
}
.heading1{
    background-color:aqua;
    color: rgb(6, 38, 38);
    width: 800px;
    margin-left: -90px;
}
.heading2{
    background-color: rgb(103, 115, 115);
    color: rgb(6, 38, 38);
    width: 800px;
}
.paragraph1{
    margin-top: 40px;
    text-align: justify;
}
.paragraph2{
    margin-top: 40px;
    margin-left: 130px;
    text-align: justify;
}
.fourdivs{
    display: flex;
    color: aqua;
}
.member{
    text-align: justify;
    margin-left: 20px;
    height: 400px;
    line-height: 1.9;
    font-family: serif;
    font-weight: bolder;
    font-size: large;
}
.head{
    background-color: rgb(78, 78, 100);
    color: rgb(244, 247, 247);
    font-family: serif;
    font-weight: bolder;
    font-size: large;
    text-align: center;
    border-radius: 5px;
}
.det{
    margin-top: 20px;
}
hr{
    width: 1400px;
    border-color: aqua;
}
.cont {
    display: flex;
    flex-direction: column;
    color:  rgb(6, 38, 38);
    height: 400px;
    width: 1404px;
    margin-top: 10px;
    background-color:  rgb(103, 115, 115);
    font-family: serif;
    font-weight: bolder;
    font-size: large;
    text-align: center;
}
