* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
body{
    background-color: rgb(6, 38, 38);
}
.navigation{
    display: flex;
    justify-content: center;
    justify-content: space-between;
    background-color: rgb(3, 3, 31);
    padding: 15px 15px;
}
.navs{
    display: flex;
    flex-direction: row;
    margin-left: 5px;
}
.info{
    padding-left: 45px;
}
.logo{
    display: flex;
    color: aqua;
   font-family: serif;
   font-weight: bold;
}
.myself{
    width:  700px;
    height: 400px;
    background-color: rgb(6, 38, 38);
    margin-top: 150px;
    display: flex;
    flex-direction: column;
}
.myintro{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 40px;
    margin-left: 40px;
    color: aqua;
    font-family: serif;
    font-size: larger;
    font-weight: bolder;
    margin-bottom: 25px;
    line-height: 1.9;
}
.btn{
   border-radius: 5px;
   width: 100px;
   padding-left: 20px;
   padding-right: 20px;
   margin-left: 240px;
   background-color: aqua;
   font-family: serif;
   font-weight: bolder;
   font-size: large;
}
.btn:hover{
    background-color: rgb(52, 194, 194);
    cursor: pointer;
}
.mypic{
    width:  600px;
    height: 400px;
    background-color: rgb(6, 38, 38);
    margin-left:400px;

}
.divss{
    display: flex;
    flex-direction: row;
}
.twomoredivs{
    color: aqua;
    display: flex;
  }
.proj1{
    text-align: center;
    font-family: serif;
    font-weight: bolder;
    font-size: larger;
    height: 400px;
    width: 500px;
    line-height: 1.9;
}
.proj2{
    text-align: center;
    font-family: serif;
    font-weight: bolder;
    font-size: larger;
    height: 400px;
    width: 700px;
    margin-left: 100px;
    line-height: 1.9;
}
.heading1{
    background-color:aqua;
    color: rgb(6, 38, 38);
    width: 800px;
    margin-left: -90px;
}
.heading2{
    background-color:aqua;
    color: rgb(6, 38, 38);
    width: 800px;
}
.paragraph1{
    margin-top: 40px;
    text-align: justify;
}
.paragraph2{
    margin-top: 40px;
    margin-left: 130px;
    text-align: justify;
}
.fourdivs{
    display: flex;
    color: aqua;
}
.member{
    text-align: justify;
    margin-left: 20px;
    height: 400px;
    line-height: 1.9;
    font-family: serif;
    font-weight: bolder;
    font-size: large;
}
.head{
    background-color: aqua;
    color: rgb(6, 38, 38);
    font-family: serif;
    font-weight: bolder;
    font-size: large;
    text-align: center;
    border-radius: 5px;
}
.det{
    margin-top: 20px;
}
.cont{
    display: flex;
    color: white;
    height: 400px;
    width: 1404px;
    border: 1px solid aqua;
    margin-top: 10px;
}
.contactus{
    background-color: aqua;
    color:  rgb(6, 38, 38);
    height: 30px;
    width: 100%;
    text-align: center;
    font-family: serif;
    font-weight: bolder;
    font-size: large;
}